

@font-face {
    font-family: 'NotoSans';
    src: url('../assets/fonts/static/NotoSans-Bold.ttf') format('truetype');
    font-weight: 700; /* Medium weight */
    font-style: normal;
  }
  

  @font-face {
    font-family: 'NotoSans';
    src: url('../assets/fonts/static/NotoSans-Medium.ttf') format('truetype');
    font-weight: 500; /* Medium weight */
    font-style: normal;
  }
  
  
  
  @font-face {
    font-family: 'NotoSans';
    src: url('../assets/fonts/static/NotoSans-Regular.ttf') format('truetype');
    font-weight: 400; /* Medium weight */
    font-style: normal;
  }


  html, body{
    font-family: 'NotoSans', sans-serif;
    font-size: 16px;
  }